@import '../../styles/colors.scss';

.surveyListWrap {
  display: flex;
  flex-direction: column;
  background-color: $white;
  justify-content: space-between;
  min-height: 100vh;

  .contentWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    max-width: 116.2rem;
    flex-grow: 1;
    width: 100%;
    padding: 4rem 1.6rem;

    h2 {
      font-size: 3.2rem;
    }
    h2 + span {
      font-size: 1.8rem;
      color: #a4aeb4;
      margin-bottom: 2.4rem;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-self: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .surveyListWrap {
    .contentWrap {
      h2 + span {
        font-size: 2.2rem;
      }
      ul {
        flex-direction: column;
      }
    }
  }
}
