@import '../styles/colors.scss';

$transition: 300ms ease-in-out;

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type='password'],
input[type='email'],
input[type='text'] {
  border: none;
  outline: none;
  border-radius: 18px;
}

input::placeholder {
  color: #c0c0c0;
}

button {
  background: $secundary;
  border: none;
  text-decoration: none;
  color: $white;
  display: inline-block;
  border-radius: 12px;
  min-height: 42px;
  width: 100%;
  transition: var(--transition) filter, var(--transition) box-shadow,
    var(--transition) transform;

  &:hover {
    filter: brightness(1.1);
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 1rem 1rem rgba(99, 225, 217, 0.15);
  }

  &:disabled {
    background-color: $disabledBackground;
    color: $disabledColor;

    &:hover {
      opacity: 1;
    }
  }
}
