@import '../../styles/colors.scss';

.signup {
  display: grid;
  grid-template-columns: 3fr 1fr;

  .branding {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: $background;
  }

  .form {
    display: flex;
    flex-direction: column;
    grid-column-start: 3;
    grid-column-end: 3;

    width: 40rem;
    height: 100vh;
    background-color: $primary;
    padding: 10rem 4rem;
    border-radius: 0.2rem;
    box-shadow: 0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.25);

    z-index: 2;
    max-width: 86.3rem;

    h2 {
      color: $gray;
      text-align: center;
      font-size: 2rem;
    }

    button {
      align-self: center;
      margin-top: 6rem;
    }

    .link {
      text-align: center;
      color: $gray;
      margin-top: 1.6rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
