@import '../../styles/colors.scss';

.headerWrap {
  display: flex;
  background-color: $primary;
  border-top: 40px solid $primary;
  justify-content: center;

  .headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    flex-grow: 1;
    padding: 24px 40px;

    img {
      width: 60px;
      height: 60px;
      align-self: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .headerWrap {
    border-top-width: 20px;
  }
}
